{
  "openapi": "3.0.3",
  "x-neon-provisional": true,
  "info": {
    "title": "RedEDoc API",
    "version": "0.0.0-provisional",
    "description": "ESQUEMA PROVISIONAL, escrito a mano para montar el pipeline de la referencia.\n\nNo describe la API real ni está completo: solo recoge, del README de RedEDoc, unas pocas operaciones representativas para que las páginas de referencia se puedan generar y revisar antes de que el backend exponga su esquema.\n\nSe reemplaza apuntando `OPENAPI_SOURCE` al `openapi.json` que genere drf-spectacular."
  },
  "servers": [
    {
      "url": "https://api.rededoc.co",
      "description": "Servicio publicado."
    }
  ],
  "tags": [
    {
      "name": "Seguridad",
      "description": "Registro, sesión en cookie y llaves de API."
    },
    {
      "name": "Catálogos",
      "description": "Listas oficiales DIAN, de solo lectura."
    },
    {
      "name": "Emisores",
      "description": "Alta del emisor (OFE) y sus datos de habilitación."
    },
    {
      "name": "Documentos",
      "description": "Ciclo de vida del documento electrónico."
    }
  ],
  "security": [
    {
      "LlaveApi": []
    },
    {
      "Sesion": []
    }
  ],
  "paths": {
    "/api/seguridad/registro/": {
      "post": {
        "operationId": "seguridad_registro_crear",
        "tags": [
          "Seguridad"
        ],
        "summary": "Registrarse",
        "description": "Da de alta a una persona y le manda un correo de confirmación. Hasta confirmarlo no se puede iniciar sesión.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolicitudRegistro"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Persona creada; queda pendiente de confirmar el correo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistroCreado"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos, o el correo ya está dado de alta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/seguridad/token/": {
      "post": {
        "operationId": "seguridad_token_crear",
        "tags": [
          "Seguridad"
        ],
        "summary": "Iniciar sesión",
        "description": "Canjea correo y contraseña por una sesión. El servidor responde con las cookies `httpOnly` `access_token` y `refresh_token`; el token no viaja en el cuerpo ni se acepta en la cabecera `Authorization`.\n\nSi la cuenta tiene segundo factor, este paso **no** emite sesión: responde `{ \"mfa_requerido\": true, \"mfa_token\": \"...\", \"metodo\": \"...\" }` y la sesión la emite `POST /api/seguridad/token/mfa/`.\n\nEs la vía de las aplicaciones con usuario delante; las integraciones de ERP usan una llave de API.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolicitudIngreso"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sesión iniciada (cookies puestas), o desafío del segundo factor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usuario"
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta confirmar el correo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/seguridad/token/mfa/": {
      "post": {
        "operationId": "seguridad_token_mfa",
        "tags": [
          "Seguridad"
        ],
        "summary": "Resolver el segundo factor",
        "description": "Cierra el ingreso de las cuentas con segundo factor: comprueba el código del desafío y emite la sesión en cookies.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolicitudMfa"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sesión iniciada (cookies puestas).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usuario"
                }
              }
            }
          },
          "401": {
            "description": "Código incorrecto o desafío vencido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/seguridad/token/refresh/": {
      "post": {
        "operationId": "seguridad_token_refrescar",
        "tags": [
          "Seguridad"
        ],
        "summary": "Renovar la sesión",
        "description": "Renueva el acceso a partir de la cookie `refresh_token`; no lleva cuerpo. Cada renovación entrega un refresco nuevo y anula el anterior. Falla cuando la sesión alcanza su duración máxima, aunque se haya renovado sin parar.",
        "security": [],
        "responses": {
          "200": {
            "description": "Sesión renovada (cookies puestas de nuevo).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Detalle"
                }
              }
            }
          },
          "401": {
            "description": "No hay sesión que renovar, no es válida, o alcanzó su duración máxima.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/seguridad/token/cerrar/": {
      "post": {
        "operationId": "seguridad_token_cerrar",
        "tags": [
          "Seguridad"
        ],
        "summary": "Cerrar la sesión",
        "description": "Invalida el refresco y borra las cookies de sesión. La cookie `mfa_dispositivo` sobrevive a propósito: dice que el navegador es de confianza, no que la sesión está abierta.",
        "responses": {
          "200": {
            "description": "Sesión cerrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Detalle"
                }
              }
            }
          }
        },
        "security": [
          {
            "Sesion": []
          }
        ]
      }
    },
    "/api/seguridad/me/": {
      "get": {
        "operationId": "seguridad_me",
        "tags": [
          "Seguridad"
        ],
        "summary": "Quién soy",
        "description": "Los datos de quien hace la petición. Es la forma de saber, al cargar la aplicación, si la cookie que trae el navegador sigue viva.",
        "responses": {
          "200": {
            "description": "Datos de la sesión en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usuario"
                }
              }
            }
          },
          "401": {
            "description": "No hay sesión.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Sesion": []
          }
        ]
      }
    },
    "/api/seguridad/llave-api/": {
      "post": {
        "operationId": "seguridad_llave_api_crear",
        "tags": [
          "Seguridad"
        ],
        "summary": "Crear una llave de API",
        "description": "Crea la credencial de una integración, a nombre de quien la pide. El campo `clave` de la respuesta es la credencial completa y **solo se muestra aquí**: después el servidor guarda su hash. Una persona puede tener varias llaves vivas a la vez, que es lo que permite rotarlas sin dejar al ERP sin credencial.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolicitudLlaveApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Llave creada. Guarda `clave`: no se vuelve a mostrar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlaveApi"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Sesion": []
          }
        ]
      }
    },
    "/api/catalogos/tipo-identificacion/": {
      "get": {
        "operationId": "catalogos_tipo_identificacion_listar",
        "tags": [
          "Catálogos"
        ],
        "summary": "Listar tipos de identificación",
        "description": "Catálogo DIAN de tipos de documento de identidad. Los catálogos son de solo lectura y sirven para obtener los ids que piden el emisor y el documento.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Busqueda"
          },
          {
            "$ref": "#/components/parameters/Pagina"
          }
        ],
        "responses": {
          "200": {
            "description": "Página de resultados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginaDeCatalogo"
                }
              }
            }
          }
        }
      }
    },
    "/api/emisores/emisor/": {
      "post": {
        "operationId": "emisores_emisor_crear",
        "tags": [
          "Emisores"
        ],
        "summary": "Crear un emisor (OFE)",
        "description": "Da de alta el obligado a facturar. Queda a nombre de quien lo crea: el dueño no se envía, sale de la credencial. `pais`, `departamento` y `municipio` van por código (ISO 3166 y DANE), no por id.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Emisor"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Emisor creado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Emisor"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos, o identificación ya dada de alta (el NIT es único en toda la plataforma).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/emisores/emisor/validar-nit/": {
      "get": {
        "operationId": "emisores_emisor_validar_nit",
        "tags": [
          "Emisores"
        ],
        "summary": "Comprobar un NIT",
        "description": "Consulta el NIT para comprobarlo y autocompletar el formulario de alta.",
        "parameters": [
          {
            "name": "nit",
            "in": "query",
            "required": true,
            "description": "NIT sin dígito de verificación.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datos encontrados para ese NIT.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "razon_social": {
                      "type": "string"
                    },
                    "digito_verificacion": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/documentos/documento/": {
      "post": {
        "operationId": "documentos_documento_crear",
        "tags": [
          "Documentos"
        ],
        "summary": "Crear un documento",
        "description": "Registra el documento con su receptor, sus líneas y sus impuestos. Los totales se calculan a partir de los detalles. Todavía no genera XML ni se envía a la DIAN.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Documento"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documento creado en estado borrador.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Documento"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos, o el consecutivo no cabe en el rango autorizado por la resolución.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/documentos/documento/{id}/emitir/": {
      "post": {
        "operationId": "documentos_documento_emitir",
        "tags": [
          "Documentos"
        ],
        "summary": "Emitir el documento",
        "description": "Genera el XML UBL 2.1, calcula el identificador (CUFE, CUDE o CUDS según el tipo) y lo firma con el certificado del emisor.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdDocumento"
          }
        ],
        "responses": {
          "200": {
            "description": "Documento firmado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaEmision"
                }
              }
            }
          }
        }
      }
    },
    "/api/documentos/documento/{id}/enviar/": {
      "post": {
        "operationId": "documentos_documento_enviar",
        "tags": [
          "Documentos"
        ],
        "summary": "Enviar el documento a la DIAN",
        "description": "Entrega el documento firmado al Web Service de la DIAN y aplica el resultado. El documento queda en `aceptado`, `rechazado` o —si la DIAN aún no resuelve— `enviado`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdDocumento"
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado del envío.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaEnvio"
                }
              }
            }
          }
        }
      }
    },
    "/api/documentos/documento/{id}/consultar/": {
      "get": {
        "operationId": "documentos_documento_consultar",
        "tags": [
          "Documentos"
        ],
        "summary": "Consultar el estado en la DIAN",
        "description": "Consulta sin efectos: devuelve lo que dice la DIAN y no toca el documento.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdDocumento"
          }
        ],
        "responses": {
          "200": {
            "description": "Estado según la DIAN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaEnvio"
                }
              }
            }
          }
        }
      }
    },
    "/api/documentos/documento/{id}/pdf/": {
      "get": {
        "operationId": "documentos_documento_pdf",
        "tags": [
          "Documentos"
        ],
        "summary": "Descargar la representación gráfica",
        "description": "Devuelve el PDF con el código QR.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdDocumento"
          }
        ],
        "responses": {
          "200": {
            "description": "El PDF del documento.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "LlaveApi": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Llave de API de una integración: `Authorization: Api-Key <prefijo>.<secreto>`."
      },
      "Sesion": {
        "type": "apiKey",
        "in": "cookie",
        "name": "access_token",
        "description": "Sesión del navegador. El servidor la pone al iniciar sesión, en una cookie `httpOnly` que el JavaScript no puede leer. No se acepta en la cabecera `Authorization`."
      }
    },
    "parameters": {
      "IdDocumento": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Identificador del documento.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Busqueda": {
        "name": "search",
        "in": "query",
        "required": false,
        "description": "Filtra por texto.",
        "schema": {
          "type": "string"
        }
      },
      "Pagina": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Número de página.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      }
    },
    "schemas": {
      "SolicitudRegistro": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "nombre_corto": {
            "type": "string",
            "description": "Opcional."
          }
        }
      },
      "RegistroCreado": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "correo_enviado": {
            "type": "boolean",
            "description": "`false` si el correo de confirmación no se pudo enviar; puede pedirse de nuevo."
          },
          "detail": {
            "type": "string"
          }
        }
      },
      "SolicitudIngreso": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "Usuario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "readOnly": true
          },
          "nombre_corto": {
            "type": "string",
            "readOnly": true
          },
          "is_staff": {
            "type": "boolean",
            "readOnly": true
          },
          "is_verified": {
            "type": "boolean",
            "description": "Si el correo está confirmado.",
            "readOnly": true
          },
          "mfa_activo": {
            "type": "boolean",
            "description": "Si la cuenta tiene segundo factor encendido.",
            "readOnly": true
          }
        }
      },
      "SolicitudMfa": {
        "type": "object",
        "required": [
          "mfa_token",
          "codigo"
        ],
        "properties": {
          "mfa_token": {
            "type": "string",
            "description": "El que devolvió el ingreso."
          },
          "codigo": {
            "type": "string",
            "description": "Código del segundo factor, o uno de respaldo."
          },
          "recordar_dispositivo": {
            "type": "boolean",
            "description": "Añade la cookie `mfa_dispositivo` y no vuelve a pedir el código en este navegador."
          }
        }
      },
      "Detalle": {
        "type": "object",
        "required": [
          "numero_linea",
          "descripcion",
          "cantidad",
          "unidad_medida",
          "valor_unitario",
          "valor_total"
        ],
        "properties": {
          "numero_linea": {
            "type": "integer"
          },
          "descripcion": {
            "type": "string"
          },
          "cantidad": {
            "type": "string",
            "format": "decimal"
          },
          "unidad_medida": {
            "type": "integer"
          },
          "valor_unitario": {
            "type": "string",
            "format": "decimal"
          },
          "valor_total": {
            "type": "string",
            "format": "decimal"
          },
          "impuestos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Impuesto"
            }
          }
        }
      },
      "SolicitudLlaveApi": {
        "type": "object",
        "required": [
          "nombre"
        ],
        "properties": {
          "nombre": {
            "type": "string",
            "description": "Identifica la integración, p. ej. `ERP producción`."
          },
          "expira_en": {
            "type": "string",
            "format": "date-time",
            "description": "Opcional: caducidad de la llave."
          }
        }
      },
      "LlaveApi": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "nombre": {
            "type": "string"
          },
          "prefijo": {
            "type": "string",
            "description": "Identificador público de la llave; no es secreto.",
            "readOnly": true
          },
          "clave": {
            "type": "string",
            "description": "La credencial completa `<prefijo>.<secreto>`. Solo viene en la respuesta del alta; después es `null`.",
            "readOnly": true
          },
          "activa": {
            "type": "boolean"
          },
          "expira_en": {
            "type": "string",
            "format": "date-time"
          },
          "ultimo_uso_en": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "PaginaDeCatalogo": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemDeCatalogo"
            }
          }
        }
      },
      "ItemDeCatalogo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id de la fila. Es un serial de cada base: cambia entre ambientes."
          },
          "codigo": {
            "type": "string",
            "description": "Código oficial DIAN."
          },
          "nombre": {
            "type": "string"
          }
        }
      },
      "Emisor": {
        "type": "object",
        "required": [
          "razon_social",
          "tipo_identificacion",
          "numero_identificacion",
          "pais",
          "departamento",
          "municipio",
          "direccion",
          "correo"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "razon_social": {
            "type": "string"
          },
          "tipo_identificacion": {
            "type": "integer",
            "description": "Id del catálogo de tipos de identificación."
          },
          "numero_identificacion": {
            "type": "string"
          },
          "digito_verificacion": {
            "type": "string"
          },
          "tipo_organizacion": {
            "type": "integer"
          },
          "responsabilidades": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "pais": {
            "type": "string",
            "description": "Código ISO 3166, p. ej. `CO`."
          },
          "departamento": {
            "type": "string",
            "description": "Código DANE del departamento."
          },
          "municipio": {
            "type": "string",
            "description": "Código DANE del municipio."
          },
          "direccion": {
            "type": "string"
          },
          "correo": {
            "type": "string",
            "format": "email"
          },
          "usuario": {
            "type": "integer",
            "readOnly": true,
            "description": "Dueño del emisor. No se envía: es quien lo da de alta."
          }
        }
      },
      "Adquiriente": {
        "type": "object",
        "description": "Receptor del documento. Va dentro del documento: cada uno guarda su copia, que es la que queda firmada en el XML. En el documento soporte este bloque es el vendedor.",
        "required": [
          "razon_social",
          "tipo_identificacion",
          "numero_identificacion"
        ],
        "properties": {
          "razon_social": {
            "type": "string"
          },
          "tipo_identificacion": {
            "type": "integer"
          },
          "numero_identificacion": {
            "type": "string"
          },
          "digito_verificacion": {
            "type": "string"
          },
          "tipo_organizacion": {
            "type": "integer"
          },
          "pais": {
            "type": "integer"
          }
        }
      },
      "Impuesto": {
        "type": "object",
        "required": [
          "tributo",
          "base_gravable",
          "tarifa",
          "valor"
        ],
        "properties": {
          "tributo": {
            "type": "integer",
            "description": "Id del catálogo de tributos."
          },
          "base_gravable": {
            "type": "string",
            "format": "decimal"
          },
          "tarifa": {
            "type": "string",
            "format": "decimal"
          },
          "valor": {
            "type": "string",
            "format": "decimal"
          }
        }
      },
      "Documento": {
        "type": "object",
        "required": [
          "documento_tipo",
          "emisor",
          "adquiriente",
          "fecha_emision",
          "moneda",
          "detalles"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "documento_tipo": {
            "type": "string",
            "description": "Id de la fila de `DocumentoTipo` (`factura_venta`, `nota_credito`, `nota_debito`, `documento_soporte`, `nota_ajuste`, `nomina`)."
          },
          "emisor": {
            "type": "string",
            "format": "uuid"
          },
          "numero_resolucion": {
            "type": "string",
            "description": "Número que la DIAN le dio a la resolución del emisor. Las notas no lo llevan: heredan la numeración del documento que corrigen."
          },
          "documento_referencia": {
            "type": "string",
            "format": "uuid",
            "description": "Documento que corrige. Obligatorio en notas."
          },
          "concepto_correccion": {
            "type": "integer",
            "description": "Concepto de corrección, de la lista propia de cada tipo de nota."
          },
          "adquiriente": {
            "$ref": "#/components/schemas/Adquiriente"
          },
          "prefijo": {
            "type": "string"
          },
          "consecutivo": {
            "type": "integer"
          },
          "numero": {
            "type": "string"
          },
          "fecha_emision": {
            "type": "string",
            "format": "date"
          },
          "hora_emision": {
            "type": "string"
          },
          "moneda": {
            "type": "integer"
          },
          "estado": {
            "type": "string",
            "readOnly": true
          },
          "cufe_cude": {
            "type": "string",
            "readOnly": true
          },
          "detalles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Detalle"
            }
          }
        }
      },
      "RespuestaEmision": {
        "type": "object",
        "properties": {
          "estado": {
            "type": "string",
            "example": "firmado"
          },
          "cufe_cude": {
            "type": "string"
          }
        }
      },
      "RespuestaEnvio": {
        "type": "object",
        "properties": {
          "estado": {
            "type": "string"
          },
          "track_id": {
            "type": "string"
          },
          "es_valido": {
            "type": "boolean"
          },
          "errores": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    }
  }
}
